
<app-navbar></app-navbar>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 ads">
          <h1><span id="fl">Company</span><span id="sl">Name</span></h1>
        </div>
        <div class="col-md-6 login-form">
          <div class="profile-img">
            <img src="assets/images/icons/user-icon-placeholder.png "alt="profile_img" height="140px" width="140px;">
          </div>
          <h3>Login</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-light btn-lg btn-block">Sign In</button>
            </div>
            <div class="form-group forget-password">
                <a href="#" class="color">Forget Password</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>