

<app-navbar></app-navbar>
<div class="container">


    <h3 class="h3 ">Best selling</h3>
    <div class="row">

        <div   *ngFor="let product of products"  class="col-md-3 col-sm-6" >
            <div class="product-grid7">
                <div class="product-image7">
                    <a>
                        <img class="pic-1" routerLink="/detail" routerLinkActive="active" 
                        src={{product.image}}>
                   
                    </a>
                    <ul class="social">
                        <li><a class="fa fa-shopping-cart"></a></li>
                    </ul>
                    <span class="product-new-label">new</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a>{{product.title}}</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">{{product.price}}
                        <span>{{product.oldPrice}}</span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<hr>

<div class="container">

    <h3 class="h3">New Collections</h3>
    <div class="row">

        <div  *ngFor="let newProduct of newProducts"   class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a>
                        <img class="pic-1" routerLink="/detail" routerLinkActive="active" 
                        src={{newProduct.image}}>
          
                    </a>
                    <ul class="social">
                        <li><a  class="fa fa-search"></a></li>
                        <li><a  class="fa fa-shopping-bag"></a></li>
                        <li><a  class="fa fa-shopping-cart"></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a>{{newProduct.title}}</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">{{newProduct.price}}
                        <span>{{newProduct.oldPrice}}</span>
                    </div>
                </div>
            </div>
        </div>
            </div>
</div>
<hr>

<div class="container">
    <h3 class="h3">Latest Collections</h3>
    <div class="row">

        <div   *ngFor="let LatestProduct of LatestProducts"  class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a>
                        <img class="pic-1" routerLink="contact" 
                        src={{LatestProduct.image}}>
                
                    </a>
                    <ul class="social">
                        <li><a  class="fa fa-search"></a></li>
                        <li><a  class="fa fa-shopping-bag"></a></li>
                        <li><a  class="fa fa-shopping-cart"></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a>{{LatestProduct.title}}</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">{{LatestProduct.price}}
                        <span>{{LatestProduct.oldPrice}}</span>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>


<app-footer></app-footer>
