


      <div class="container-fluid mt-5 pdg ">  
         <h2 class="text-center h">OUR BLOG</h2>
        <div class="row">
       

<div class="col-lg-4 col-md-4 col-xd-12">

    <img src="assets/images/720-539.jpg" class="img-fluid img-responsive" alt="ph">
    <h4 class="m-text11">	Black Friday Guide: Best Sales & Discount Codes</h4>
    <p class="s-text8">Duis ut velit gravida nibh bibendum commodo. Sus- <br>
       pendisse pellentesque mattis augue id euismod. Inter-  <br> 
       dum et malesuada fames</p>
       </div>

   
  
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img src="assets/images/720-539.jpg" class="img-fluid img-responsive " alt="ph">
      <h4 class="m-text11">	Black Friday Guide: Best Sales & Discount Codes</h4>
      <p class="s-text8">Duis ut velit gravida nibh bibendum commodo. Sus- <br>
        pendisse pellentesque mattis augue id euismod. Inter-  <br> 
        dum et malesuada fames</p> 
    </div>
  
      <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/720-539.jpg" class="img-fluid img-responsive " alt="ph">
        <h4 class="m-text11">	Black Friday Guide: Best Sales & Discount Codes</h4>
        <p class="s-text8">Duis ut velit gravida nibh bibendum commodo. Sus- <br>
          pendisse pellentesque mattis augue id euismod. Inter-  <br> 
          dum et malesuada fames</p>
       </div>
     
        </div>
        </div>